.final-product-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    margin: 0 auto;
  }
  
  
  .gallery-item img {
    max-width: 65%;
    border: 5px solid black;
  }
  .gallery-item video {
    max-width:65%;
    border: 5px solid black;
  }