/* App.css */
.App {
    background-color: #dee4ef;
    color: white;
  }

  nav{
    background-color:#dee4ef; 
    padding: 10px;
    padding-top: 20px;
    padding-bottom:20px;
    font-family: "capitolina", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 20px 40px rgba(36,52,77, 0.2);
    z-index: 15;
    border-bottom:4px solid rgba(36,52,77,1);
    border-style:inset
}
  
  nav a {
    color:#24344D;
    text-decoration: none; 
    margin-right: 10px; 
    margin-left: 20px;
    font-weight:bold;
    font-size:2vw;
  }
  
  nav a:hover {
    text-decoration: underline; 
    text-underline-offset: 1vw;;
  }
  