html{
    scroll-behavior: smooth;
}
.box-container{
    position:relative;
    background-color: none;
    padding-top: 5vw;
    text-align: left;
    z-index: 1;
    height:57vw;
    background-image: url('./images/home-head5.png');
    background-size: cover;
}
.custom-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-nav a {
    font-family: "capitolina", serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(255, 255, 255); 
    text-decoration: none; 
    margin-right: 60px; 
    margin-left: 20px;
    font-weight:bold;
    font-size:2vw;
    align-self: right;
  }
  .custom-nav p{
    font-family: "germania-one", serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(255, 255, 255);
    margin-left: 60px;
    font-size:2.5vw;
    margin-right: auto;
  }
  .custom-nav a:hover{
    color:rgb(104, 104, 104);
    text-decoration: underline; 
    text-underline-offset: 1vw;;
  }


.box-text {
    margin-top:14vw;
    width:60vw;
    margin-left:20vw;
    z-index: 15;
}
.box-text h2{
    font-size: 6vw;
    color: rgb(255, 255, 255);
    text-align: left; 
    z-index:2;
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    line-height: .75;
}
.box-text p {
    margin-top: -4vw;;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-align: left; 
    z-index:2;
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
}
.box-container img{
    position: absolute;
    height:30vw;
    z-index:0;
    left:70%;
    top:15%;
    scroll-behavior: smooth;
}
.contact {
    display: flex;
    align-items: left;
    justify-content: left;
    padding:1vw;
    margin-left:24vw;
    width:25vw;
}
  
.contact a,
.contact p {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    font-size:2vw;
    text-decoration: none;
}
.contact a:hover{
    text-decoration:underline;
    
}
.myWork{
    margin-top: 6vw;;
    padding-bottom: 5vw;
   text-align: center;
   display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
.myWork a{
    color: rgb(255, 255, 255);
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    font-size:2vw;
    text-decoration: none;
    padding-bottom: 10px;
    
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid  rgb(255, 255, 255); 
}
.space{
    height:10vw;
}
.projects{
    padding-top:5vw;
    background-color:rgb(255, 255, 255);
    padding-bottom:5vw;
}
.project-head{
    text-align:center;
    padding-bottom:4vw;
    font-family: "new-spirit-condensed", serif;
    font-weight: 700;
    font-style: normal;
    color:  rgb(255, 255, 0);;
}
.project-list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0 16vw; /* Adjust padding as needed */
    margin-top: 2vw; /* Adjust margin as needed */
    text-decoration: none ;
  }
  
  .project-item {
    display: flex;
    margin-bottom: 8vw; /* Adjust margin between items as needed */
    text-decoration: none ;
    background-color: aliceblue;
    padding:2vw;
    border-radius: 20px;
  }
  .project-item :hover{
    color:rgb(118, 118, 154)
  }
  
  .project-thumbnail {
    display: flex;
    justify-content: center;
    align-items:center;
    transition: transform 0.3s, width 0.3s, height 0.3s;
    background-color: rgba(76, 122, 214, 0.8);
    transform: scale(1);
    flex: 0 0 33%; /* Adjust width of the thumbnail */
    text-decoration: none ;
    border:5px solid black;
  }
  
  .project-thumbnail:hover{
    transform: scale(1.05); 
  }
  
  .project-thumbnail img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s;
  }
  .project-thumbnail img:hover{
    transform: scale(.9); 
  }
  
  .project-description {
    flex: 1;
    margin-left: 1.5vw; /* Adjust margin between thumbnail and description */
    text-decoration: none;
  }
  
  .project-description h3 {
    margin-left: 5vw;
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2vw; /* Adjust title font size */
    color: rgb(0, 0, 0); /* Change text color as needed */
    margin-bottom: 1vw; /* Adjust margin as needed */
    text-decoration: none;
  }
  
  .project-description p {
    margin-left: 5vw;
    margin-top: 7vw;
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vw; /* Adjust description font size */
    color: rgb(0, 0, 0); /* Change text color as needed */
    text-decoration:dotted;
  }
  .line-break{
    margin-bottom: 8vw;
    color:rgb(0, 0, 0)
  }
  
  
footer#contacts {
    background-color:rgb(255, 255, 255);
    height:auto;
    width:auto;
    position: relative; 
    bottom: 0; 
    left: 0; 
    text-align: center; 
}
.footer-text{
    padding-top:15px;
    color:white;
    padding-bottom:25px;
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    background-color:#24344D;
}
.footer-img img{
    width: 100%;
    height:100%;
}
.footer-text a{
    font-size:2vw;
    color: white;
    display: block;
}

